<%= form_for @rushing, url: homes_path, multipart: true, method: 'post' do |f| %>

  <% if @rushing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rushing.errors.count, "error") %> prohibited this File from being uploaded:</h2>
      <ul>
        <% @rushing.errors.full_messages.each do |msg| %>
         <li><%= msg%></li>
        <% end %>
      </ul>
    </div>
  <% end  %>

  <label for="file">File to Upload</label> 
  <%= f.file_field "file" %>

  <%= submit_tag %>

<% end %>